name: test

on:
  push:
    branches:
      - master

jobs:
  test-win:
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-11-arm","windows-latest"]
    runs-on: ${{ matrix.os }}
    steps:
    - name: test
      shell: bash
      run: |
        if [ "${{ matrix.os }}" == "windows-latest" ]; then
          ARCH="x86_64"
        else
          ARCH="arm64"
        fi
        curl -LO https://github.com/YOU54F/test/releases/download/0.0.0/pact-2.5.5-windows-${ARCH}.tar.gz
        tar xvf pact-2.5.5-windows-${ARCH}.tar.gz
        ./pact/bin/pact-broker.bat version
